@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}


.video{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  object-fit: fill;
  position: fixed;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: -1;
  opacity: .2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  max-width: 1150px;
  height: 100%;
  padding: 4rem 1rem;
  color: #ECECEC;
}

.yellow-text {
  color: #FFBD59;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

nav {
  position: fixed;
  width: 100%;
  height: auto;
  background: #000000;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav > a {
  transition: 0.1s linear;
  font-size: 1.1rem;
  color: #ECECEC;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 0;
  margin: 5px 20px;
}
nav a:hover, nav a:active {
  color: #FFBD59;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg,  rgba(8, 8, 8, 0.3) 20%, rgba(8, 8, 8, 0.4) 80%, #000000 100%), no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
#welcome-section .container {
  gap: 1rem;
}
#welcome-section .title {
  font-weight: 500;
  font-size: 3.5rem;
  margin-bottom: -1rem;
}
#welcome-section .description {
  font-weight: 500;
  font-size: 1.5rem;
  bottom: 1rem 0;
}

.cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cta .btn {
  transition: 0.1s linear;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #FFBD59;
  border: 2px solid #FFBD59;
  border-radius: 1000px;
}
.cta .btn:hover {
  background: #FFBD59;
  color: #000000;
}
.cta .btn:active {
  border: 2px solid #bdc004;
  background: #bdc004;
}
.cta .social {
  transition: 0.05s linear;
  color: #ECECEC;
}
.cta .social:hover, .cta .social:active {
  color: #FFBD59;
}


#about {
  height: auto;
  background: #000000;
  background: rgba(8, 8, 8, 0.4), no-repeat center center;
}
#about p:first-of-type {
  margin-bottom: 0.9rem;
}

#projects {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #000000 0%, rgba(8, 8, 8, 0.3) 20%, rgba(8, 8, 8, 0.4) 80%, #000000 100%), url(https://i.imgur.com/0y4QxHh.jpg) no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#project-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
}

.project-tile {
  background: #ECECEC;
  color: #000000;
  height: auto;
  border-radius: 5px;
  padding: 3px 3px;
}


.project-tools{
  font-family: "Bungee";
  color: transparent;
  background-image: linear-gradient(90deg, #FFBD59, #f37055, #ef4e7b, #a166ab, #c165dd, #5581f1);
  filter: brightness(120%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  position: relative;
  animation: bg 10s ease infinite;
  background-size: 300% 100%;
  z-index:1;
}

.project-thumbnail {
  width: 100%;
  max-height: 200px;
  object-fit: fill;
  object-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-bottom: 2px solid #000000;
}


.project-details {
  padding: 0.5rem;
}
.project-details .project-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.project-links {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}
.project-links .link {
  transition: 0.1s linear;
  width: 100%;
  height: auto;
  padding: 0.5rem 0.75rem;
  border: 2px solid #000000;
  border-radius: 1000px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.project-links .link:hover {
  background: #000000;
  color: #ECECEC;
}
.project-links .link:active {
  color: black;
}

#contact {
  height: auto;
  background: #000000;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  color: white;
}
.form-container label {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.form-container input, .form-container textarea {
  width: 100%;
  background: #060606;
  border: none;
  border-bottom: 2px solid #FFBD59;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  color: #FFBD59;
  font-size: 1rem;
  resize: vertical;
  max-height: 250px;
}
.form-container .submit-btn {
  float: right;
  width: 40%;
  background: none;
  transition: 0.1s linear;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #FFBD59;
  border: 2px solid #FFBD59;
  border-radius: 1000px;
}
.form-container .submit-btn:hover {
  background: #FFBD59;
  color: #000000;
}
.form-container .submit-btn:active {
  border: 2px solid #FFBD59;
  background: #FFBD59;
  cursor: pointer;
}



@media screen and (max-width: 756px) {
  .container {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 580px) {
  nav a{
    margin: 5px 5px;
  }

  .container {
    padding: 2rem 0;
    text-align: center;
  }
  .container .section-title {
    font-size: 2.5rem;
  }

  .cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cta .btn {
    flex-basis: 90%;
    display: block;
    margin-bottom: 1rem;
  }
  .cta .social {
    padding: 0 1rem;
  }

  #about p {
    text-align: justify;
  }

  .form-container .input-block {
    text-align: left;
  }
  .form-container .submit-btn {
    width: 100%;
  }
}

@keyframes bg {
	0% {
		background-position: 0% 100%;
	}
	25% {
		background-position: 50% 100%;
	}
	50% {
		background-position: 100% 100%;
	}
	75% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}